
.karmozd-traid{
    width:97%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;
    border-radius: 5px;
    border-right: 5px solid;
    border-image: 
      linear-gradient(
        to bottom, 
        rgb(219, 197, 0), 
        rgb(207, 7, 0)
      ) 1 100%;
    
  }
  
  .min-koinex{
    width: 100%;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
  }
  
  .min-roitex {
    width: 100%;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .btn-change{
    background-color: rgb(0, 153, 0);
    width: 120px;
    height: 50px;
    color: white;
    border-radius: 5px;
  }
  .btn-changedown{
    background-color: rgb(0, 153, 0);
    width: 120px;
    height: 50px;
    color: white;
    border-radius: 5px;
    display: none;
  }
  .btn-change1{
    background-color: rgb(0, 153, 0);
    width: 120px !important;
    height: 50px;
    color: white;
    border-radius: 5px;
  }
  .btn-change-traid{
    background-color: rgb(0, 153, 0);
    width: 120px;
    height: 50px;
    color: white;
    border-radius: 5px;

  }
  .btn-change2{
    background-color: rgb(0, 153, 0);
    width: 120px;
    height: 50px;
    color: white;
    border-radius: 5px;
  }
  .btn-change-div{
    justify-content: left !important;
    padding: 10px;
  }
  .txt-karmozd{
    font-size: 14px;
  }
  .dash{
    border-bottom: dashed 2px rgb(223, 223, 223);;
  }
  .dash1{
    border-bottom: dashed 2px rgb(223, 223, 223);;
  }
  .dash3{
    border-bottom: dashed 2px rgb(223, 223, 223);;
    display: none;
  }
  .select-inbox{
    width: 75px;
    border: none;
    
  }
  .text-karmozd{
    align-items: center;
  
  }
  .inputs{
    text-align: end;
    width: 48%;
    
  }
.inputs2{
  text-align: end;
  width: 100%;
  text-align: center;

}
  .btn-baze{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;
    width: 120px;
    height: 50px;
    border-radius: 5px;
  }
  
  .karmozd-traid1{
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;
    border-radius: 5px;
    border-right: 5px solid;
    border-image: 
      linear-gradient(
        to bottom, 
        rgb(219, 197, 0), 
        rgb(207, 7, 0)
      ) 1 100%;
  }
  .karmozd-traid2{
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;
    border-radius: 5px;
  }
  
  .foricon{
    position: absolute;
    margin: -10px;
    left: -28;
  }
  .inputic{
    position: relative;
    
  }
 .foricomtex{
   display: none;
 }

 .options {
  border: none;
  padding: 10px;
  width: 100px !important;
}

select {
  font-size: 18px;
  border: none;
  font-weight: bold;
  width: 100%;
  background: white;
  
}

.fontoptions{
  font-size: 22px;
}
.fildforinput{
  width: 98%;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}
.fildforinputborder{
  width: 98%;
  height: 75px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border-left: 45px solid;
  border-image:
          linear-gradient(
                  to bottom,
                  rgb(91, 232, 199),
                  rgb(91, 232, 199)
          ) 1 100%;
}

.btnsize{
  width: 20%;
}
.forbtntow{
  justify-content: left;
}
.iconcopy{
  position: absolute;
  left: 25px;
}
.iconcopy{
  position: absolute;
  left: 25px;
  top: 65px;

}
.tooltiptop{
 position: relative;
  top: 20px !important;
}