#myInput {
    border: none;
    background-color: #efefef;
    margin-bottom: 12px;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    height: 20px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    max-height: 200px;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

#myUL li a:hover:not(.header) {
    background-color: #eee;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

#id_password {
    overflow: auto;
    text-align: left;


}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    background-color: #54e9c3;
}

input:checked + .slider {
    background-color: #cbf8ed;
}

input:focus + .slider {
    box-shadow: 0 0 1px #cbf8ed;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.tab__content {
    padding-top: 20px;
}

/*dashboard setting*/
.dashboard-setting .section-title {
    text-align: center;
    display: block;
}

.dashboard-setting .send-by-message {
    display: block;
}

.dashboard-setting input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: 4px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.5px black solid;


}

.dashboard-setting input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -6px;
    left: 10px;
    position: relative;
    background-color: #54e9c3;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 5px solid #cbf8ed;

}

/*.dashboard-setting input[type='checkbox']:after {*/
/*    width: 15px;*/
/*    height: 15px;*/
/*    border-radius: 5px;*/
/*    top: -2px;*/
/*    left: 4px;*/
/*    position: relative;*/
/*    background-color: white;*/
/*    content: '';*/
/*    display: inline-block;*/
/*    visibility: visible;*/
/*    border: 0.5px black solid;*/


/*}*/

/*.dashboard-setting input[type='checkbox']:checked:after {*/
/*    width: 15px;*/
/*    height: 15px;*/
/*    border-radius: 5px;*/
/*    top: -6px;*/
/*    left: 10px;*/
/*    position: relative;*/
/*    background-color: #54e9c3;*/
/*    content: '';*/
/*    display: inline-block;*/
/*    visibility: visible;*/
/*    border: 5px solid #cbf8ed;*/

/*}*/


.dashed-hr-dashboard {
    border: none;
    border-top: 2px dashed #ccbaba;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
}

.dashed-hr-withdraw {
    border: none;
    border-top: 2px dashed #ccbaba;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
    display: flex;
    align-items: center;
}


.dashboard-setting .comment-img {
    width: 20px;
}



.bitcoin-img-background {
    background-color: #ffeacc;
    width: 73px;
    border-radius: 13px;
    height: 70px;
    margin: 4px 1px 20px 43px;
    padding: 13px 15.1px 14.1px 13.5px;
    object-fit: cover;
}

.currency-image {
    padding: 0;
}

.ripple-img-background {
    background-color: #e3ebfc;
    width: 73px;
    border-radius: 13px;
    height: 70px;
    margin: 4px 1px 20px 43px;
    padding: 13px 15.1px 14.1px 13.5px;
    object-fit: cover;
}

.ethereum-img-background {
    background-color: #e0e0ff;

    width: 73px;
    border-radius: 13px;
    height: 70px;
    margin: 4px 1px 20px 43px;
    padding: 13px 15.1px 14.1px 13.5px;
    object-fit: cover;
}

.not-active-button {
    width: 155px;
    opacity: 50%;
    height: 45px;
    margin: 44px 7px 40px 0;
    padding: 6px 10px 6px 9px;
    object-fit: contain;
    border-radius: 5px;
    background-color: #f66b64;
}

.active-button.active {
    opacity: 100%;

}

.not-active-button.active {
    opacity: 100%;

}

.active-button {
    opacity: 50%;
    width: 155px;
    height: 45px;
    margin: 44px 21.5px 40px 7px;
    padding: 6px 33px 6px 30px;
    object-fit: contain;
    border-radius: 5px;
    background-color: #54e9c3;

}

.dashed-hr-response{
    display: none;
    border: none;
    border-top: 2px dashed #ccbaba;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
    align-items: center;
}
.currency-title,.harvest-title,.deposit-title{
    display: none;
}
@media screen and (max-width: 700px) {
    .dashed-hr-withdraw {
        display: none;
    }

    .table-button {
        justify-content: center;
    }

    .table-title {
        justify-content: center;

    }
    .dashed-hr-response{
        display: block;
        border: none;
        border-top: 2px dashed #ccbaba;
        color: #fff;
        background-color: #fff;
        height: 1px;
        width: 100%;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .currency-title,.harvest-title,.deposit-title{
        display: block;
    }

    /*width: 100%;*/
    /*max-width: 960px;*/
    /*display: block;*/
    /*background-color: red;*/
    /*grid-template-columns: repeat(3,1fr);*/
    /*grid-auto-rows: minmax(100px,auto);*/
    /*margin:0 auto;*/
    /*gap:10px;*/
    /*grid-template-areas:*/
    /*"header header header"*/
    /*"nav nav  ."*/
    /*"aside section section"*/
    /*"aside main main"*/
    /*"footer footer footer"*/
    /*    ;*/

}
.swap-setting p {
    width: 100px;
}
