.bg-707070{
    background: #707070;
}
.bg-F66B64{
    background: #F66B64;
}
.warning{
    right: -15px;
}
.withdraw-td{
    min-width: 250px !important;
    max-width: 250px;
}

.border-7cd1f9{
    border: 3px solid #7cd1f9;
}
.bg-7cd1f9{
    background: #7cd1f9;
}
.modal-bank .signin-btn {
    width: 170px;
    font-size: 18px;
    margin: 0 1rem;
}
.withdraw-td a{
    width: 115px !important;
    height: 35px;
}

/* .user-list .filter-btn {
    background: #8d8d8d38;
    padding: 10px 15px;
    border-radius: 6px;
}
.user-list .up-animation {
    z-index: 2147483647;
}
.user-list .transaction__btn2 {
    height: 50px;
    align-items: center;
    background-color: #54e9c3;
    text-align: center;
    padding-top: 10px;
    color: #000;
    border-radius: 0;
    margin-right: 0;
} */