.progress1 {
    /*width: 160px;*/
    width: 220px;
    height: 220px;
    /*height: 160px;*/
    line-height: 160px;
    background: none;
    /*margin: 0 auto;*/
    box-shadow: none;
    position: absolute;
    right: -100px;
    top: 10px;
}
.progress1:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #efefef;
    position: absolute;
    top: 0;
    left: 0;
}
.progress1 > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress1 .progress1-left {
    left: 0;
}
.progress1 .progress1-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: #ffb43e;
}
.progress1 .progress1-left .progress1-bar {
    left: 100%;
    /*border-top-right-radius: 80px;*/
    border-top-right-radius: 110px;
    /*border-bottom-right-radius: 80px;*/
    border-bottom-right-radius: 110px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress1 .progress1-right {
    right: 0;
}
.progress1 .progress1-right .progress1-bar {
    left: -100%;
    /*border-top-left-radius: 80px;*/
    border-top-left-radius: 110px;
    /*border-bottom-left-radius: 80px;*/
    border-bottom-left-radius: 110px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}
.progress1 .progress1-value {
    display: flex;
    border-radius: 50%;
    font-size: 1rem;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: 300;
}
.progress1 .progress1-value span {
    font-size: 12px;
    text-transform: uppercase;
}
/* This for loop creates the necessary css animation names Due to the split circle of progress1-left and progress1 right, we must use the animations on each side. */
.progress1[data-percentage="1"] .progress1-right .progress1-bar {
    animation: loading-1 0.5s linear forwards;
}
.progress1[data-percentage="1"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="2"] .progress1-right .progress1-bar {
    animation: loading-2 0.5s linear forwards;
}
.progress1[data-percentage="2"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="3"] .progress1-right .progress1-bar {
    animation: loading-3 0.5s linear forwards;
}
.progress1[data-percentage="3"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="4"] .progress1-right .progress1-bar {
    animation: loading-4 0.5s linear forwards;
}
.progress1[data-percentage="4"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="5"] .progress1-right .progress1-bar {
    animation: loading-5 0.5s linear forwards;
}
.progress1[data-percentage="5"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="6"] .progress1-right .progress1-bar {
    animation: loading-6 0.5s linear forwards;
}
.progress1[data-percentage="6"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="7"] .progress1-right .progress1-bar {
    animation: loading-7 0.5s linear forwards;
}
.progress1[data-percentage="7"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="8"] .progress1-right .progress1-bar {
    animation: loading-8 0.5s linear forwards;
}
.progress1[data-percentage="8"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="9"] .progress1-right .progress1-bar {
    animation: loading-9 0.5s linear forwards;
}
.progress1[data-percentage="9"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="10"] .progress1-right .progress1-bar {
    animation: loading-10 0.5s linear forwards;
}
.progress1[data-percentage="10"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="11"] .progress1-right .progress1-bar {
    animation: loading-11 0.5s linear forwards;
}
.progress1[data-percentage="11"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="12"] .progress1-right .progress1-bar {
    animation: loading-12 0.5s linear forwards;
}
.progress1[data-percentage="12"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="13"] .progress1-right .progress1-bar {
    animation: loading-13 0.5s linear forwards;
}
.progress1[data-percentage="13"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="14"] .progress1-right .progress1-bar {
    animation: loading-14 0.5s linear forwards;
}
.progress1[data-percentage="14"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="15"] .progress1-right .progress1-bar {
    animation: loading-15 0.5s linear forwards;
}
.progress1[data-percentage="15"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="16"] .progress1-right .progress1-bar {
    animation: loading-16 0.5s linear forwards;
}
.progress1[data-percentage="16"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="17"] .progress1-right .progress1-bar {
    animation: loading-17 0.5s linear forwards;
}
.progress1[data-percentage="17"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="18"] .progress1-right .progress1-bar {
    animation: loading-18 0.5s linear forwards;
}
.progress1[data-percentage="18"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="19"] .progress1-right .progress1-bar {
    animation: loading-19 0.5s linear forwards;
}
.progress1[data-percentage="19"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="20"] .progress1-right .progress1-bar {
    animation: loading-20 0.5s linear forwards;
}
.progress1[data-percentage="20"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="21"] .progress1-right .progress1-bar {
    animation: loading-21 0.5s linear forwards;
}
.progress1[data-percentage="21"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="22"] .progress1-right .progress1-bar {
    animation: loading-22 0.5s linear forwards;
}
.progress1[data-percentage="22"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="23"] .progress1-right .progress1-bar {
    animation: loading-23 0.5s linear forwards;
}
.progress1[data-percentage="23"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="24"] .progress1-right .progress1-bar {
    animation: loading-24 0.5s linear forwards;
}
.progress1[data-percentage="24"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="25"] .progress1-right .progress1-bar {
    animation: loading-25 0.5s linear forwards;
}
.progress1[data-percentage="25"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="26"] .progress1-right .progress1-bar {
    animation: loading-26 0.5s linear forwards;
}
.progress1[data-percentage="26"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="27"] .progress1-right .progress1-bar {
    animation: loading-27 0.5s linear forwards;
}
.progress1[data-percentage="27"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="28"] .progress1-right .progress1-bar {
    animation: loading-28 0.5s linear forwards;
}
.progress1[data-percentage="28"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="29"] .progress1-right .progress1-bar {
    animation: loading-29 0.5s linear forwards;
}
.progress1[data-percentage="29"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="30"] .progress1-right .progress1-bar {
    animation: loading-30 0.5s linear forwards;
}
.progress1[data-percentage="30"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="31"] .progress1-right .progress1-bar {
    animation: loading-31 0.5s linear forwards;
}
.progress1[data-percentage="31"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="32"] .progress1-right .progress1-bar {
    animation: loading-32 0.5s linear forwards;
}
.progress1[data-percentage="32"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="33"] .progress1-right .progress1-bar {
    animation: loading-33 0.5s linear forwards;
}
.progress1[data-percentage="33"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="34"] .progress1-right .progress1-bar {
    animation: loading-34 0.5s linear forwards;
}
.progress1[data-percentage="34"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="35"] .progress1-right .progress1-bar {
    animation: loading-35 0.5s linear forwards;
}
.progress1[data-percentage="35"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="36"] .progress1-right .progress1-bar {
    animation: loading-36 0.5s linear forwards;
}
.progress1[data-percentage="36"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="37"] .progress1-right .progress1-bar {
    animation: loading-37 0.5s linear forwards;
}
.progress1[data-percentage="37"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="38"] .progress1-right .progress1-bar {
    animation: loading-38 0.5s linear forwards;
}
.progress1[data-percentage="38"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="39"] .progress1-right .progress1-bar {
    animation: loading-39 0.5s linear forwards;
}
.progress1[data-percentage="39"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="40"] .progress1-right .progress1-bar {
    animation: loading-40 0.5s linear forwards;
}
.progress1[data-percentage="40"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="41"] .progress1-right .progress1-bar {
    animation: loading-41 0.5s linear forwards;
}
.progress1[data-percentage="41"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="42"] .progress1-right .progress1-bar {
    animation: loading-42 0.5s linear forwards;
}
.progress1[data-percentage="42"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="43"] .progress1-right .progress1-bar {
    animation: loading-43 0.5s linear forwards;
}
.progress1[data-percentage="43"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="44"] .progress1-right .progress1-bar {
    animation: loading-44 0.5s linear forwards;
}
.progress1[data-percentage="44"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="45"] .progress1-right .progress1-bar {
    animation: loading-45 0.5s linear forwards;
}
.progress1[data-percentage="45"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="46"] .progress1-right .progress1-bar {
    animation: loading-46 0.5s linear forwards;
}
.progress1[data-percentage="46"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="47"] .progress1-right .progress1-bar {
    animation: loading-47 0.5s linear forwards;
}
.progress1[data-percentage="47"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="48"] .progress1-right .progress1-bar {
    animation: loading-48 0.5s linear forwards;
}
.progress1[data-percentage="48"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="49"] .progress1-right .progress1-bar {
    animation: loading-49 0.5s linear forwards;
}
.progress1[data-percentage="49"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="50"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="50"] .progress1-left .progress1-bar {
    animation: 0;
}
.progress1[data-percentage="51"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="51"] .progress1-left .progress1-bar {
    animation: loading-1 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="52"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="52"] .progress1-left .progress1-bar {
    animation: loading-2 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="53"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="53"] .progress1-left .progress1-bar {
    animation: loading-3 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="54"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="54"] .progress1-left .progress1-bar {
    animation: loading-4 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="55"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="55"] .progress1-left .progress1-bar {
    animation: loading-5 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="56"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="56"] .progress1-left .progress1-bar {
    animation: loading-6 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="57"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="57"] .progress1-left .progress1-bar {
    animation: loading-7 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="58"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="58"] .progress1-left .progress1-bar {
    animation: loading-8 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="59"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="59"] .progress1-left .progress1-bar {
    animation: loading-9 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="60"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="60"] .progress1-left .progress1-bar {
    animation: loading-10 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="61"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="61"] .progress1-left .progress1-bar {
    animation: loading-11 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="62"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="62"] .progress1-left .progress1-bar {
    animation: loading-12 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="63"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="63"] .progress1-left .progress1-bar {
    animation: loading-13 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="64"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="64"] .progress1-left .progress1-bar {
    animation: loading-14 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="65"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="65"] .progress1-left .progress1-bar {
    animation: loading-15 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="66"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="66"] .progress1-left .progress1-bar {
    animation: loading-16 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="67"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="67"] .progress1-left .progress1-bar {
    animation: loading-17 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="68"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="68"] .progress1-left .progress1-bar {
    animation: loading-18 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="69"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="69"] .progress1-left .progress1-bar {
    animation: loading-19 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="70"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="70"] .progress1-left .progress1-bar {
    animation: loading-20 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="71"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="71"] .progress1-left .progress1-bar {
    animation: loading-21 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="72"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="72"] .progress1-left .progress1-bar {
    animation: loading-22 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="73"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="73"] .progress1-left .progress1-bar {
    animation: loading-23 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="74"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="74"] .progress1-left .progress1-bar {
    animation: loading-24 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="75"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="75"] .progress1-left .progress1-bar {
    animation: loading-25 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="76"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="76"] .progress1-left .progress1-bar {
    animation: loading-26 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="77"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="77"] .progress1-left .progress1-bar {
    animation: loading-27 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="78"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="78"] .progress1-left .progress1-bar {
    animation: loading-28 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="79"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="79"] .progress1-left .progress1-bar {
    animation: loading-29 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="80"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="80"] .progress1-left .progress1-bar {
    animation: loading-30 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="81"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="81"] .progress1-left .progress1-bar {
    animation: loading-31 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="82"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="82"] .progress1-left .progress1-bar {
    animation: loading-32 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="83"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="83"] .progress1-left .progress1-bar {
    animation: loading-33 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="84"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="84"] .progress1-left .progress1-bar {
    animation: loading-34 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="85"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="85"] .progress1-left .progress1-bar {
    animation: loading-35 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="86"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="86"] .progress1-left .progress1-bar {
    animation: loading-36 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="87"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="87"] .progress1-left .progress1-bar {
    animation: loading-37 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="88"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="88"] .progress1-left .progress1-bar {
    animation: loading-38 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="89"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="89"] .progress1-left .progress1-bar {
    animation: loading-39 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="90"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="90"] .progress1-left .progress1-bar {
    animation: loading-40 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="91"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="91"] .progress1-left .progress1-bar {
    animation: loading-41 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="92"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="92"] .progress1-left .progress1-bar {
    animation: loading-42 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="93"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="93"] .progress1-left .progress1-bar {
    animation: loading-43 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="94"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="94"] .progress1-left .progress1-bar {
    animation: loading-44 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="95"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="95"] .progress1-left .progress1-bar {
    animation: loading-45 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="96"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="96"] .progress1-left .progress1-bar {
    animation: loading-46 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="97"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="97"] .progress1-left .progress1-bar {
    animation: loading-47 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="98"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="98"] .progress1-left .progress1-bar {
    animation: loading-48 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="99"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="99"] .progress1-left .progress1-bar {
    animation: loading-49 0.5s linear forwards 0.5s;
}
.progress1[data-percentage="100"] .progress1-right .progress1-bar {
    animation: loading-50 0.5s linear forwards;
}
.progress1[data-percentage="100"] .progress1-left .progress1-bar {
    animation: loading-50 0.5s linear forwards 0.5s;
}
@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(3.6deg);
        transform: rotate(3.6deg);
    }
}
@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(7.2deg);
        transform: rotate(7.2deg);
    }
}
@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(10.8deg);
        transform: rotate(10.8deg);
    }
}
@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(14.4deg);
        transform: rotate(14.4deg);
    }
}
@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg);
    }
}
@keyframes loading-6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(21.6deg);
        transform: rotate(21.6deg);
    }
}
@keyframes loading-7 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(25.2deg);
        transform: rotate(25.2deg);
    }
}
@keyframes loading-8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(28.8deg);
        transform: rotate(28.8deg);
    }
}
@keyframes loading-9 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(32.4deg);
        transform: rotate(32.4deg);
    }
}
@keyframes loading-10 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-11 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(39.6deg);
        transform: rotate(39.6deg);
    }
}
@keyframes loading-12 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(43.2deg);
        transform: rotate(43.2deg);
    }
}
@keyframes loading-13 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(46.8deg);
        transform: rotate(46.8deg);
    }
}
@keyframes loading-14 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(50.4deg);
        transform: rotate(50.4deg);
    }
}
@keyframes loading-15 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(54deg);
        transform: rotate(54deg);
    }
}
@keyframes loading-16 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(57.6deg);
        transform: rotate(57.6deg);
    }
}
@keyframes loading-17 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(61.2deg);
        transform: rotate(61.2deg);
    }
}
@keyframes loading-18 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(64.8deg);
        transform: rotate(64.8deg);
    }
}
@keyframes loading-19 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(68.4deg);
        transform: rotate(68.4deg);
    }
}
@keyframes loading-20 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(72deg);
        transform: rotate(72deg);
    }
}
@keyframes loading-21 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(75.6deg);
        transform: rotate(75.6deg);
    }
}
@keyframes loading-22 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(79.2deg);
        transform: rotate(79.2deg);
    }
}
@keyframes loading-23 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(82.8deg);
        transform: rotate(82.8deg);
    }
}
@keyframes loading-24 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(86.4deg);
        transform: rotate(86.4deg);
    }
}
@keyframes loading-25 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-26 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(93.6deg);
        transform: rotate(93.6deg);
    }
}
@keyframes loading-27 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(97.2deg);
        transform: rotate(97.2deg);
    }
}
@keyframes loading-28 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(100.8deg);
        transform: rotate(100.8deg);
    }
}
@keyframes loading-29 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(104.4deg);
        transform: rotate(104.4deg);
    }
}
@keyframes loading-30 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(108deg);
        transform: rotate(108deg);
    }
}
@keyframes loading-31 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(111.6deg);
        transform: rotate(111.6deg);
    }
}
@keyframes loading-32 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(115.2deg);
        transform: rotate(115.2deg);
    }
}
@keyframes loading-33 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(118.8deg);
        transform: rotate(118.8deg);
    }
}
@keyframes loading-34 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(122.4deg);
        transform: rotate(122.4deg);
    }
}
@keyframes loading-35 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@keyframes loading-36 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(129.6deg);
        transform: rotate(129.6deg);
    }
}
@keyframes loading-37 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(133.2deg);
        transform: rotate(133.2deg);
    }
}
@keyframes loading-38 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(136.8deg);
        transform: rotate(136.8deg);
    }
}
@keyframes loading-39 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(140.4deg);
        transform: rotate(140.4deg);
    }
}
@keyframes loading-40 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-41 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(147.6deg);
        transform: rotate(147.6deg);
    }
}
@keyframes loading-42 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(151.2deg);
        transform: rotate(151.2deg);
    }
}
@keyframes loading-43 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(154.8deg);
        transform: rotate(154.8deg);
    }
}
@keyframes loading-44 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(158.4deg);
        transform: rotate(158.4deg);
    }
}
@keyframes loading-45 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(162deg);
        transform: rotate(162deg);
    }
}
@keyframes loading-46 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(165.6deg);
        transform: rotate(165.6deg);
    }
}
@keyframes loading-47 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(169.2deg);
        transform: rotate(169.2deg);
    }
}
@keyframes loading-48 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(172.8deg);
        transform: rotate(172.8deg);
    }
}
@keyframes loading-49 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(176.4deg);
        transform: rotate(176.4deg);
    }
}
@keyframes loading-50 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}



//$borderWidth: 5px;
//$animationTime: .5s;
//$border-color-default: #efefef;
//$border-color-fill: #ffb43e;
//$size: 160px;
//$howManySteps: 100; //this needs to be even.
//
//.progress1 {
//    width: $size;
//    height: $size;
//    line-height: $size;
//    background: none;
//    margin: 0 auto;
//    box-shadow: none;
//    position: relative;
//    &:after {
//        content: "";
//        width: 100%;
//        height: 100%;
//        border-radius: 50%;
//        border: $borderWidth solid $border-color-default;
//        position: absolute;
//        top: 0;
//        left: 0;
//    }
//    > span {
//        width: 50%;
//        height: 100%;
//        overflow: hidden;
//        position: absolute;
//        top: 0;
//        z-index: 1;
//    }
//    .progress-left {
//        left: 0;
//    }
//    .progress-bar {
//        width: 100%;
//        height: 100%;
//        background: none;
//        border-width: $borderWidth;
//        border-style: solid;
//        position: absolute;
//        top: 0;
//        border-color: $border-color-fill;
//    }
//    .progress-left .progress-bar {
//        left: 100%;
//        border-top-right-radius: ($size/2);;
//        border-bottom-right-radius: ($size/2);;
//        border-left: 0;
//        -webkit-transform-origin: center left;
//        transform-origin: center left;
//        //animation: loading-2 1.5s linear forwards 1.8s;
//    }
//    .progress-right {
//        right: 0;
//        .progress-bar {
//            left: -100%;
//            border-top-left-radius: ($size/2);;
//            border-bottom-left-radius: ($size/2);;
//            border-right: 0;
//            -webkit-transform-origin: center right;
//            transform-origin: center right;
//            //animation: loading-1 1.8s linear forwards;
//        }
//    }
//    .progress-value {
//        display: flex;
//        border-radius: 50%;
//        font-size: 1rem;
//        text-align: center;
//        line-height: 20px;
//        align-items: center;
//        justify-content: center;
//        height: 100%;
//        width: 100%;
//        font-weight: 300;
//        div {
//            //margin-top: 10px;
//        }
//        span {
//            font-size: 12px;
//            text-transform: uppercase;
//        }
//    }
//}
//
///* This for loop creates the necessary css animation names
//Due to the split circle of progress-left and progress right, we must use the animations on each side.
//*/
//@for $i from 1 through $howManySteps {
//    $stepName: ($i*(100 / $howManySteps));
//
//    //animation only the left side if below 50%
//    @if $i <= ($howManySteps/2) {
//        .progress1[data-percentage="#{$stepName}"] {
//            .progress-right .progress-bar {
//                animation: loading-#{$i} $animationTime linear forwards;
//            }
//            .progress-left .progress-bar {animation: 0;}
//        }
//    }
//    //animation only the right side if above 50%
//    @if $i > ($howManySteps/2)  {
//        .progress[data-percentage="#{$stepName}"] {
//            .progress-right .progress-bar {
//                animation: loading-#{($howManySteps/2)} $animationTime linear forwards; //set the animation to longest animation
//            }
//            .progress-left .progress-bar {
//                animation: loading-#{$i - ($howManySteps/2)} $animationTime linear forwards $animationTime;
//            }
//        }
//    }
//}
//
////animation
//@for $i from 1 through ($howManySteps/2) {
//    $degrees: (180/($howManySteps/2));
//    $degrees: ($degrees*$i);
//    @keyframes loading-#{$i}{
//        0%{
//            -webkit-transform: rotate(0deg);
//            transform: rotate(0deg);
//        }
//        100%{
//            -webkit-transform: rotate($degrees);
//            transform: rotate(#{$degrees}deg);
//        }
//    }
//}
