/*start-notification*/

* {
    padding: 0;
    margin: 0;
}

/*::-webkit-scrollbar-track*/
/*{*/
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*    background-color: #F5F5F5;*/
/*}*/

/*::-webkit-scrollbar*/
/*{*/
/*    width: 4px;*/
/*    background-color: #F5F5F5;*/
/*}*/

/*::-webkit-scrollbar-thumb*/
/*{*/
/*    background-color: #0000004C;*/
/*    border: 2px solid #555555;*/
/*}*/

.container-notification .container-title {
    background-color: #0148c6;
}

.header-titles {
    color: #ffffff;
    border-radius: 0 5px 0 0;
    height: 40px;
    padding-top: 15px;
    padding-right: 30px;
    margin-left: 0;
}

.line {
    width: 150px;
    height: 1px;
    margin: 10px 10px;
    background-color: #fff;
}

.btn-delete {
    background-color: white;
    color: #1c2426;
    padding: 5px;
    border-radius: 25px;
    margin-top: -2px;
    height: 27px;
    font-size: 13px;
    letter-spacing: -0.6px;
}

.header-title {
    color: #ffffff;
    height: 40px;
    padding-top: 15px;
    padding-right: 30px;
    font-size: 15px;
    margin-left: 0;
    position: relative;
    box-shadow: 0 14px 10px -12px grey;
}

.container-notification {
    border-radius: 5px;
    left: 0;
    box-shadow: 2px 2px 8px #8080806b;
    position: fixed;
    top: 65px;
    bottom: 0;
}

.announcements {
    height: 100%;
    margin: 0;
}

.announcements ul {
    background-color: #ffffff;
    width: 420px;
    height: calc(100% - 80px);
    overflow: auto;
}

.img-success {
    width: 48px;
    height: 48px;
    padding: 10px 10px 10px 10px;
    margin-right: 25px;
    background-color: #00ffbe26;
    float: right;
}

.img-primary {
    width: 48px;
    height: 48px;
    padding: 10px 10px 10px 10px;
    margin-right: 25px;
    background-color: #0003ff3b;
    float: right;
}

.img-danger {
    width: 48px;
    height: 48px;
    padding: 10px 10px 10px 10px;
    margin-right: 25px;
    background-color: #ff0c003d;
    float: right;
}

.title {
    padding-top: 13px;
    padding-right: 25px;
    margin-top: 10px;
    margin-right: 70px;
    line-height: normal;
    color: #1c2426;
    font-size: 14px;
}

.test {
    color: #000000;
    font-weight: bold;
}

.dates {
    padding-right: 25px;
    margin-right: 70px;
    color: #1c2426;
    font-size: 12px;
    line-height: 2.31;
    letter-spacing: -0.65px;
}

.confirm {
    color: #2f31d0;
    font-weight: bold;
}

.rejected {
    color: #f66b64;
    font-weight: bold;
}

/* hr {
    margin-left: 15%;
    margin-right: 15%;
} */

.container-notification .active::after {
    content: "";
    margin-top: 4px;
    display: flex;
    transform: translateY(-50%);
    height: 3px;
    background-color: #54e9c3;
}

.pointer {
    cursor: pointer;
}

/*end-notification*/

/*start-navigation*/

.navigation .owl-button {
    text-align: left;
}

.navigation .owl-next {
    margin-left: 5px;
}

.navigation .owl-button button {
    color: #000;
    background-color: #fff;
    padding: 8px 16px;
    border: 1px solid #ddd;
}

.navigation .owl-button button:hover {
    background-color: #ddd;
}

.navigation .cart-currency {
    box-shadow: 0 0 20px #0000000d;
}

.navigation .owl-stage-outer {
    margin-top: 20px;
}

.navigation .owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.navigation .owl-nav {
    display: none;
}

.navigation .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}

.navigation .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
}

.navigation .owl-dots .owl-dot.active span {
    width: 23px !important;
    height: 4px !important;
    background-color: #00d0df !important;
}

.navigation .owl-dots {
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
}

.navigation .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.navigation .owl-dots .owl-dot span {
    -webkit-transition: 0.5s ease !important;
    -o-transition: 0.5s ease !important;
    transition: 0.5s ease !important;
    width: 4px !important;
    height: 4px !important;
}

@media only screen and (max-width: 800px) {
    .navigation .owl-button {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .navigation .owl-dots {
        display: none;
    }
}

/*end-navigation*/


/*start withdrow-currency-list*/

@media only screen and (max-width: 992px) {
    .withdrow-currency-list .selected-transaction > div:first-child {
        margin: 0 0 0 0.5rem;
    }
}

.withdrow-currency-list .container .dashboard-table .volume-transaction {
    flex-basis: 21%;
}

.withdrow-currency-list .container .dashboard-table .date-transaction {
    flex-basis: 21%;
}

.withdrow-currency-list .transaction__btn {
    border-radius: 5px;
    height: 40px;
}

.withdrow-currency-list .d-flex {
    border-radius: 5px;
}

.withdrow-currency-list .custom-selected {
    border-radius: 5px;
    height: 40px;
}

.withdrow-currency-list .transaction__value-right {
    border-radius: 0 5px 5px 0;
}

.withdrow-currency-list .transaction__value-left {
    border-radius: 5px 0 0 5px;
}

.withdrow-currency-list .date-right {
    border-radius: 0 5px 5px 0;
}

.withdrow-currency-list .date-left {
    border-radius: 5px 0 0 5px;
}

.withdrow-currency-list .address {
    border-radius: 5px;
}

.withdrow-currency-list .arrow {
    width: 30px;
}

.withdrow-currency-list .situation {
    padding: 0.3rem 0.5rem;
}

.withdrow-currency-list .right-align {
    float: right;

}

.withdrow-currency-list .left-align {
    float: left;
}

.withdrow-currency-list .nowrap {
    white-space: nowrap;
}

.withdrow-currency-list .attention-Warning {
    padding-left: 0 !important;
}

.withdrow-currency-list .wallet-table tr:first-child th div {
    padding: 25px;
}

.withdrow-currency-list .wallet-table td {
    padding: 25px;
}

.withdrow-currency-list .attention {
    border: 1px solid red;
    border-radius: 15px;
    padding: 2px 10px;
    font-weight: 900;
    margin-right: 5px;
    cursor: help;
}

/*end withdrow-currency-list*/

/*start user-list*/

@media screen and (min-width: 768px) {
    .user-list .btn-filters {
        display: none;
    }

    .user-list .filter-btn {
        display: none;
    }

    .user-list .up-animation {
        z-index: 1 !important;
        position: relative;
    }

    .user-list .modal-content {
        border: none;
    }

    .user-list .modal-header {
        display: none;
    }

    .user-list .fixed-bottom {
        position: relative;
    }

    .user-list .modal {
        height: auto;
    }
}

@media only screen and (max-width: 992px) {
    .user-list .one, .two {
        width: 50% !important;
        padding-left: 4px;
        padding-right: 4px;
    }
}

@media screen and (max-width: 768px) {
    .user-list .last-input {
        margin-bottom: 3rem;
    }

    .user-list .transaction__btn2 {
        height: 50px;
        align-items: center;
        background-color: #54e9c3;
        text-align: center;
        color: #000;
        border-radius: 0;
        margin-right: 0;
    }

    .user-list .transaction-table-container {
        padding: 20px !important;
    }
}

.user-list .transaction__btn2 {
    padding: 20px 40px;
    margin-top: 3.5rem !important;
    margin-left: 40px;
    border-radius: 5px;
    background-color: #54e9c3;
    color: #fff;
    margin-right: 0;
}

.user-list .up-animation {
    z-index: 2147483647;
}

.user-list .filter-btn {
    background: #8d8d8d38;
    padding: 10px 15px;
    border-radius: 6px;
}

.user-list .modal-content {
    padding: 0
}

.user-list .header-transaction select, .header-transaction input {
    height: 40px;
    border-radius: 4px;
}

.user-list .selection {
    padding-left: 90px !important;
}

.user-list .btn-registry {
    padding: 20px 40px;
    margin-right: 3px;
    border-radius: 5px;
    background-color: #54e9c3;
    color: #fff;
}

.user-list .name {
    font-size: 14px;
    font-weight: 600;
}

.user-list .gmail-national-code {
    font-size: 16px;
    font-weight: 700;
}

.user-list .flat {
    white-space: nowrap;
}

.user-list .confirmed {
    border: 2px solid #2f31d0 !important;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding: 5px 21px;
}

.user-list .failed {
    border: 2px solid #f66b64 !important;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding: 5px 30px;

}

.user-list .pending {
    border: 2px solid #54e9c3 !important;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding: 5px 14px;
}

.user-list .selectors {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    border-radius: 0.2rem;
}

.user-list .style-option {
    background: #fff;
    color: #000;
}

.user-list .time {
    display: block;
}

.user-list .code {
    padding-right: 1.3rem;
}

.user-list .header {
    padding-left: 1rem;
    text-align: center;
}

.user-list .btn-group {
    float: left;
}

.user-list .btn-dropdown {
    width: 143px;
}

.user-list .dropdown-menu {
    text-align: right;
    letter-spacing: -1px;;
    font-size: 13px;
    min-width: 9rem;
    cursor: pointer;
    z-index: 0;
}

.user-list .operations-btn {
    background-color: #54e9c3;
    color: #fff;
    padding: 5px 28px;
    border-radius: 5px;
}

.user-list .authentication-btn {
    background-color: #54e9c3;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
}

.user-list .user-code {
    padding-left: 1rem;
    text-align: center;
}

.user-list .button-success {
    float: left;
}

.user-list .pagination {
    display: inline-block;
    float: left;
}

.user-list .pagination a {
    color: #777777;
    background-color: #f8f8fa;
    float: left;
    padding: 5px 14px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 4px;
}

.user-list .pagination a.active {
    background-color: #54e9c3;
    color: white;
    border: 1px solid #54e9c3;
}

.user-list .pagination a:hover:not(.active) {
    background-color: #ddd;
}

.user-list .choices {
    display: inline-block;
}

.user-list .card {
    -webkit-box-shadow: 0 0 20px #0000001e;
    box-shadow: 0 3px 20px #0000001e;
    background-color: #fff;
}

.user-list .card-body {
    text-align: center;
}

.user-list .card-text {
    display: contents;
}

.user-list .pdf-image {
    padding-right: 5px;
    width: 21px;
}

.user-list .excel-image {
    padding-right: 5px;
    width: 26px;
}

.user-list .btn-pdf {
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.23);
    background-color: #fff;
    padding: 2px 5px;
    color: #000;
}

.user-list .btn-exel {
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.23);
    background-color: #fff;
    padding: 2px 5px;
    color: #000;
}

.user-list .pdf-text, .exel-text {
    font-size: 15px;
    color: #000 !important;
}

@media screen and (max-width: 800px) {
    .user-list .pdf-exel {
        padding-top: 5.3rem !important;
        margin-right: 0 !important;
    }
}

/*end user-list*/

/*start-user-authentication*/
.user-authentication .transaction__filter-title {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.65;
    color: #4a4a4a;
}

.user-authentication .confirmation, .reject {
    padding: 0 5px;
    margin: 10px;
    font-size: 13px;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.23);
    background-color: #fff;
    cursor: pointer;
}

.user-authentication .card {
    -webkit-box-shadow: 0 0 20px #0000001e;
    box-shadow: 0 1px 12px #0000001e;
    background-color: #fff;
}

.user-authentication .cards-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.user-authentication .text {
    float: left;
    font-weight: bold;
}

.user-authentication .confirmations {
    width: 25px;
    margin-right: 5px;
    margin-top: 8px;
}

.user-authentication .card-rectangle {
    width: 18rem;
    height: 16rem;
    -webkit-box-shadow: 0 0 20px #0000001e;
    box-shadow: 0 1px 12px #0000001e;
    background-color: #fff;
    display: contents;
}

.user-authentication .card-body {
    text-align: center;
    display: grid;
}

.user-authentication .card-text {
    display: contents;
}

.user-authentication .dotted {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%2354E9C3FF' stroke-width='3' stroke-dasharray='10' stroke-dashoffset='79' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 8px;
    height: 11rem;
}

.user-authentication .dotted img {
    width: 100%;
    height: 100%;
    padding: 6px;
    border-radius: 15px;
}

.user-authentication [type="radio"] {
    visibility: hidden;
}

.user-authentication [type="radio"]::before {
    height: .9em;
    width: .9em;
    border: 1px solid gray;
    border-radius: 50%;
    display: block;
    content: " ";
    cursor: pointer;
    visibility: visible;
}

.user-authentication [type="radio"]:checked::before {
    background: radial-gradient(#54e9c3 100%, transparent 100%);
    border: 1px solid #54e9c3;
}

/*end-user-authentication*/

/*start-all-datepicker*/
.ui-datepicker-buttonpane .btn {
    height: auto;
}

.ui-datepicker-current {
    background: #28D094;
    color: white;
}

.ui-datepicker-close {
    background: #f35c5c;
    color: white;
}

/*end-all-datepicker*/

/*start-system-reports*/

@media screen and (min-width: 768px) {
    .system-reports .btn-filters {
        display: none;
    }

    .system-reports .filter-btn {
        display: none;
    }

    .system-reports .up-animation {
        z-index: 1 !important;
        position: relative;
    }

    .system-reports .modal-content {
        border: none;
    }

    .system-reports .modal-header {
        display: none;
    }

    .system-reports .fixed-bottom {
        position: relative;
    }

    .system-reports .modal {
        height: auto;
    }
}

.system-reports .modal-content {
    padding: 0
}

.system-reports .up-animation {
    z-index: 2147483647;
}

.system-reports .btn-filters {
    height: 50px;
    align-items: center;
    background-color: rgb(238, 238, 238);
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
}

.system-reports span.filters {
    background-color: #f66b64;
    border-radius: 5px;
}

.system-reports svg.filters {
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
}

@media screen and (max-width: 992px) {
    .system-reports .one, .two {
        width: 50% !important;
        padding-left: 4px;
        padding-right: 4px;
    }
}

@media screen and (max-width: 768px) {
    .system-reports .transaction-table-container {
        padding: 20px !important;
    }

    .system-reports .last-input {
        margin-bottom: 3rem;
    }

    .system-reports .transaction__btn2 {
        height: 50px;
        align-items: center;
        background-color: #54e9c3;
        text-align: center;
        color: #000;
        border-radius: 0;
        margin-right: 0;
    }
}

.system-reports .header-transaction select, .header-transaction input {
    height: 40px;
    border-radius: 4px;
}

.system-reports .selection {
    padding-left: 90px !important;
}

.system-reports .transaction__btn2 {
    padding: 20px 40px;
    margin-top: 3.5rem !important;
    margin-left: 40px;
    border-radius: 5px;
    background-color: #54e9c3;
    color: #fff;
    margin-right: 0;
}

.system-reports .filter-btn {
    background: #8d8d8d38;
    padding: 10px 15px;
    border-radius: 6px;
}

.system-reports .headline {
    font-weight: normal;
}

.system-reports .gmail-national-code, .numbers, .amount, .currency {
    font-size: 16px;
    font-weight: 700;
}

.system-reports .description {
    font-size: 14px;
    font-weight: 400;
}

.system-reports .date {
    text-align: left !important;
    padding-left: 1rem;
}

.system-reports .more {
    cursor: pointer;
}

.system-reports .modal-header .close {
    padding: 1.3rem 1.9rem;
}

@media screen and (min-width: 1328px) {
    .system-reports .more {
        display: none;
    }
}

@media screen and (max-width: 1328px) {
    .system-reports .description {
        display: none;
    }
}

.system-reports .deposit {
    border: 2px solid #2f31d0 !important;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding: 5px 39px;
}

.system-reports .harvest {
    border: 2px solid #f66b64 !important;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding: 5px 30px;
}

.system-reports .time {
    display: block;
}

.system-reports .header {
    padding-right: 3rem;
    text-align: center;
}

.system-reports .header-code {
    padding-right: 1rem;
}

.system-reports .pagination {
    display: inline-block;
    float: left;
}

.system-reports .pagination a {
    color: #777777;
    background-color: #f8f8fa;
    float: left;
    padding: 5px 14px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 4px;
}

.system-reports .pagination a.active {
    background-color: #54e9c3;
    color: white;
    border: 1px solid #54e9c3;
}

.system-reports .pagination a:hover:not(.active) {
    background-color: #ddd;
}

.system-reports .choices {
    display: inline-block;
}

.system-reports .card {
    -webkit-box-shadow: 0 0 20px #0000001e;
    box-shadow: 0 3px 20px #0000001e;
    background-color: #fff;
}

.system-reports .card-body {
    text-align: center;
}

.system-reports .card-text {
    display: contents;
}

.system-reports .pdf-image {
    padding-right: 5px;
    width: 21px;
}

.system-reports .excel-image {
    padding-right: 5px;
    width: 26px;
}

.system-reports .btn-pdf {
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.23);
    background-color: #fff;
    padding: 2px 5px;
    color: #000;
}

.system-reports .btn-exel {
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.23);
    background-color: #fff;
    padding: 2px 5px;
    color: #000;
}

.system-reports .pdf-text, .exel-text {
    font-size: 15px;
    color: #000 !important;
}

.system-reports .input-date {
    width: 33% !important;
}

@media screen and (max-width: 767px) {
    .system-reports .input-date {
        width: 100% !important;
    }
}

@media screen and (max-width: 800px) {
    .system-reports .pdf-exel {
        padding-top: 5.3rem !important;
        margin-right: 0 !important;
    }
}

/*end-system-reports*/

/*start-withdraw-rls*/

.withdraw .transaction__btn2 {
    padding: 20px 40px;
    margin-top: 2.5rem !important;
    margin-left: 40px;
    border-radius: 5px;
    background-color: #54e9c3;
    color: #fff;
    margin-right: 0;
}

.withdraw .modal-content {
    padding: 0;
}

.withdraw .up-animation {
    z-index: 2147483647;
}

.withdraw .filter-btn {
    background: #8d8d8d38;
    padding: 10px 15px;
    border-radius: 6px;
}

.withdraw .btn-out, .btn-pdf {
    border-radius: 5px;
}

.withdraw .btn-pdf {
    width: 124px;
}

@media screen and (min-width: 768px) {
    .withdraw .filter-btn {
        display: none;
    }

    .withdraw .up-animation {
        z-index: 1 !important;
        position: relative;
    }

    .withdraw .modal-content {
        border: none;
    }

    .withdraw .modal-header {
        display: none;
    }

    .withdraw .fixed-bottom {
        position: relative;
    }

    .withdraw .modal {
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .withdraw .transaction__btn2 {
        height: 50px;
        align-items: center;
        background-color: #54e9c3;
        text-align: center;
        color: #fff;
        border-radius: 0;
        margin-right: 0;
    }

    .withdraw .transaction-table-container {
        padding: 20px !important;
    }

    .withdraw .last-input {
        margin-bottom: 3rem;
    }
}

/*end-withdraw-rls*/

/*start-requests-withdrawal*/

@media screen and (max-width: 768px) {
    .requests-withdrawal .last-input {
        margin-bottom: 3rem;
    }
}

.requests-withdrawal .title-header {
    font-size: 15px;
    font-weight: 600;
}

.requests-withdrawal .withdraw-rls {
    font-size: 15px;
    font-weight: 700;
}

.requests-withdrawal .withdraw-rls-topbtn {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.requests-withdrawal .pagination {
    display: inline-block;
    float: left;
}

.requests-withdrawal .pagination a {
    color: #777777;
    background-color: #f8f8fa;
    float: left;
    padding: 5px 14px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 4px;
}

.requests-withdrawal .pagination a.active {
    background-color: #54e9c3;
    color: white;
    border: 1px solid #54e9c3;
}

.requests-withdrawal .choices {
    display: inline-block;
}

.requests-withdrawal .btn-pdf {
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 23%);
    background-color: #fff;
    padding: 2px 5px;
    color: #000;
}

.requests-withdrawal .pdf-image {
    padding-right: 5px;
    width: 21px;
}

.requests-withdrawal .btn-exel {
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 23%);
    background-color: #fff;
    padding: 2px 5px;
    color: #000;
}

.requests-withdrawal .excel-image {
    padding-right: 5px;
    width: 26px;
}

@media screen and (max-width: 800px) {
    .requests-withdrawal .pdf-exel {
        padding-top: 5.3rem !important;
        margin-right: 0 !important;
    }
}

.requests-withdrawal .attention {
    color: red;
    border: 1px solid red;
    border-radius: 15px;
    padding: 4px 10px 0 10px;
    margin: 10px 0 10px 5px;
    font-weight: 600;
    cursor: help;
}

/*end-requests-withdrawal*/

/*start-message-list*/

@media screen and (max-width: 992px) {
    .start-message .description {
        display: none !important;
    }
}

@media screen and (min-width: 992px) {
    .start-message .more {
        display: none !important;
    }
}

.start-message .harvest-btn2 {
    background: #fff;
    color: #000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.23);
}

.start-message .view-edit {
    padding: 4px;
}

/*end-message-list*/

.chart-slider-item{
    height: 170px;
}
.chart-slider{
    margin-bottom: 20px;
}



/*start-new-message*/

.new-message .request-box {
    margin: 0 0;
}

.new-message .upload-card__body {
    max-width: 360px;
}

.new-message .form-textarea {
    height: 213px;
    box-shadow: 0 0 10px #0000003b;
    padding: 10px;
    color: #000;
}

.new-message #cke_editor1 {
    box-shadow: 0 0 10px #0000003b;
}

@media only screen and (max-width: 1200px) {
    .new-message .upload-card {
        margin: 0 0;
        padding: 1rem 1rem !important;
    }
}

.new-message .upload-card {
    padding: 1.5rem 1.5rem;
}

.new-message .custom__select-title-2, .custom__select-2, .custom__select-btn-2 {
    white-space: nowrap;
}

.new-message .custom__select-title-2, .custom-list__item-2 span {
    margin: 0 .5rem;
}

.new-message .custom-list-2.active {
    margin: 6px 8px 0 0;
}

.new-message .btnsize {
    height: 35px;
}

.new-message .select2-container--default .select2-selection--multiple {
    border: none;
    box-shadow: 0 0 10px #0000003b;
}

.new-message .select2-container--default .select2-selection--multiple {
    padding-bottom: 49px;
}

.new-message .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: none;
    box-shadow: 0 0 10px #0000003b;
}

.new-message .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #ffffff;
    border: none;
    box-shadow: 0 0 10px #0000003b;
    border-radius: 20px;
}

.new-message .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border-right: none;
}

.new-message .select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    padding-left: 5px;
    padding-right: 10px;
}

.new-message .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    padding: 1px 8px;
}

/*end-new-message*/

/*start-announcement-title*/
.announcement-title .dashed-line {
    border: 1px dashed #707070;
    opacity: 0.4;
}

@media only screen and (max-width: 992px) {
    .announcement-title .image-title {
        /*width: 100% !important;*/
        /*height: 100% !important;*/
        padding: 30px 0;
    }

    /*.announcement-title .paragraph-title{*/
    /*    width: 100% !important;*/
    /*}*/
    /*.announcement-title .dashed-line{*/
    /*    width: 100% !important;*/
    /*}*/
}

/*end-announcement-title*/


/*start-landing*/
.landing .container-secondary-blog {
    max-width: 90% !important;
}

.landing .container-left-blog > diV:first-child > div:first-child, .container-left-blog > diV:last-child > div:first-child {
    margin-left: 0;
}

.landing-hybrid-slide .blog-page-top-slide__info {
    text-align: right;
    background-color: rgb(0 0 0 / 26%);
    /*border-radius: 0 0 12px 12px;*/
}

.landing-hybrid-slide .blog-page-top-slide__info h2 {
    font-weight: 700;
    font-size: 27px;
}

.landing .training {
    box-shadow: 0 5px 20px rgb(83 83 83 / 10%);
}

.landing .a {
    text-decoration: none;
}

.landing .training__img {
    width: 100%;
}

.landing .teacher__img img {
    height: auto;
}

.landing .training__info-dark {
    padding: 1rem 1rem 1rem 1rem;
    background-color: #2f3136;
    text-align: right;
}

@media only screen and (max-width: 992px) {
    .landing .blog-page-top-slide__img img {
        border-radius: 0;
    }
}

@media screen and (min-width: 992px) {
    .landing .blog-page-top-slide__info {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .landing .training__info-dark {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .landing .blog-title h2 {
        display: none;
    }
}

.landing .blog-title h2 {
    background-color: #222327;
    color: #fff;
}

.landing .blog-page-top-slide__info {
    text-align: right;
    background-color: rgb(0 0 0 / 26%);
    /* border-radius: 0 0 12px 12px; */
}

.landing .training__title-dark {
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 1rem;
}

.landing .training__desc-dark {
    font-size: 13px;
    color: #dcdcdc;
    font-weight: 500;
}

.landing .training__line {
    border: none;
    border-bottom: 1px solid #f8f1fa;
    margin: 0.5rem 0 0.7rem 0;
}

.landing .training__tag {
    font-size: 9px;
    font-weight: 700;
    border-radius: 30px;
    width: 65px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4px;
}

.landing .training__tag-blue {
    background-color: #d9ebff;
    color: #0077ff;
}

.landing .training__calender {
    font-size: 11px;
    color: #878f9d;
    margin-bottom: 1rem;
}

.landing .pagination {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.landing .pagination-page:first-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: inherit;
}

.landing .pagination-page {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f0f0f0;
    height: 40px;
    border-left: none;
    color: #747e8c;
    font-weight: bold;
    padding-top: 4px;
    width: 35px;
    transition: 0.3s ease;
}

.landing .pagination-page.active {
    background-color: #545cf5;
    color: #fff;
}

.landing .pagination-page:hover {
    background-color: #e4e5e7;
}

.landing .pagination-page:last-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.landing .pagination-page:last-child {
    border-left: 1px solid #f0f0f0;
}

@media screen and (min-width: 992px) {
    .landing .pagination {
        display: none;
    }
}

.landing .right-blog-page__title {
    text-align: right;
}

.landing .training_line {
    border: none;
    border-bottom: 1px solid #707070;
    margin: 0.5rem 0 0.7rem 0;
}

.landing .background-dark {
    background-image: url("../../rootix blog/image-blog/Group 1667.png");
}

.landing .content {
    margin: 0 6rem;
}

@media screen and (max-width: 992px) {
    .landing .content {
        margin: 0 3rem;
    }
}

.landing .text-head {
    /*margin: 140px 60px 0 50px;*/
    margin-top: 13rem;
}

@media screen and (max-width: 992px) {
    .landing .text-head {
        display: none;
    }
}

.landing .proposal-secretary {
    margin: 40px 0;
}

@media screen and (max-width: 992px) {
    .landing .proposal-secretary {
        margin: 1rem 0;
    }
}

.landing .main-news__info {
    text-align: right;
}

.landing .training__info-bright {
    padding: 1rem 1rem 1rem 1rem;
    background-color: #ffffff;
    text-align: right;
}

.landing .training__title-bright {
    font-size: 15px;
    font-weight: 700;
    color: #292a34;
    margin-bottom: 1rem;
}

.landing .training__desc-bright {
    font-size: 13px;
    color: #4f5059;
    font-weight: 500;
}

.landing .training__tag-red {
    background-color: hsla(337, 100%, 50%, 0.171);
    color: #ff0061;
}

.landing .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 15px !important;
}

.landing .blog-page-top-slide_info {
    text-align: right;
    background-color: rgb(0 0 0 / 26%);
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .landing .single-slide {
        display: none;
    }
}

.landing .below .training__calenders {
    font-size: 13px;
    color: #fff;
    margin-bottom: 1rem;
}

@media screen and (max-width: 992px) {
    .landing .below .training__calender, .below .training__desc-dark, .below .training__tags, .below .training__line {
        display: none !important;
    }
}

@media screen and (min-width: 992px) {
    .landing-hybrid-slide .header-slide {
        max-width: 1805px;
    }
}

.landing-hybrid-slide .btn-prev {
    position: absolute;
    top: 25.8rem;
    z-index: 9;
    right: 0;
}

@media screen and (max-width: 1000px) {
    .landing-hybrid-slide .btn-prev, .landing-hybrid-slide .btn-next {
        top: 15.4rem !important;
    }
}

.landing-hybrid-slide .btn-next {
    position: absolute;
    top: 25.8rem;
    z-index: 9;
    left: 0;
}

.landing-slide .owl-button {
    text-align: left;
}

.landing-slide .owl-next {
    margin-left: 5px;
}

.landing-slide .owl-button button {
    color: #000;
    background-color: #fff;
    padding: 8px 16px;
    border: 1px solid #ddd;
}

.landing-slide .owl-button button:hover {
    background-color: #ddd;
}

.landing-slide .cart-currency {
    box-shadow: 0 0 20px #0000000d;
}

.landing-slide .owl-stage-outer {
    margin-top: 20px;
}

.landing-slide .owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.landing-slide .owl-nav {
    display: none;
}

.landing-slide .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}

.landing-slide .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
}

.landing-slide .owl-dots .owl-dot.active span {
    width: 23px !important;
    height: 4px !important;
    background-color: #00d0df !important;
}

.landing-slide .owl-dots {
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
}

.landing-slide .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.landing-slide .owl-dots .owl-dot span {
    -webkit-transition: 0.5s ease !important;
    -o-transition: 0.5s ease !important;
    transition: 0.5s ease !important;
    width: 4px !important;
    height: 4px !important;
}

@media only screen and (max-width: 800px) {
    .landing-slide .owl-button {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .landing-slide .owl-dots {
        display: none;
    }
}

.landing-slide .blog-page-top-slide__info {
    height: 100%;
    background-color: rgb(83 83 83 / 35%);
    /*border-radius: 12px;*/
}

.landing-slide .blog-page-top-slide__info h1 {
    position: fixed;
    top: 31rem;
    text-align: right;
    color: #fff;
}

@media screen and (max-width: 992px) {
    .landing-slide .blog-page-top-slide__info h1 {
        top: 13rem;
    }
}

@media screen and (max-width: 992px) {
    .training__info-bright {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .landing .training__info-bright {
        padding: 1rem 1rem 1rem 1rem;
        background-color: #ffffff;
        text-align: right;
    }

    .landing .training__title-bright {
        font-size: 15px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 1rem;
    }

    .landing .training__desc-bright {
        font-size: 13px;
        color: #000;
        font-weight: 500;
    }
}

@media screen and (max-width: 992px) {
    .landing .right-blog-page__title {
        text-align: center !important;
    }
}

@media screen and (max-width: 992px) {
    .landing .training__img {
        height: 100%;
    }
}

@media screen and (min-width: 992px) {
    .responsive {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .no-responsive {
        display: none;
    }
}

footer .footer-row {
    text-align: right;
}

/*end-landing*/

/*start-cooperation*/
@media screen and (min-width: 992px) {
    .cooperation .middle-content {
        margin-top: 8rem;
    }
}

@media screen and (max-width: 992px) {
    .cooperation .title-header {
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 992px) {
    .cooperation .call-btn {
        display: grid;
    }
}

.cooperation .btn-call {
    padding: 5px 25px;
    background: #4F46BA;
    color: #fff;
}

@media screen and (min-width: 992px) {
    .cooperation .call-btn{
        margin: 4rem !important;
    }
}

@media screen and (min-width: 992px) {
    .cooperation .btn-call {
        position: absolute;
        margin: 0rem 6rem;
    }

    .cooperation .box {
        position: absolute;
        margin: -4rem 16rem;
    }
}

@media screen and (max-width: 992px) {
    .cooperation .box {
        display: none;
    }
}

.cooperation .box {
    width: 100px;
    height: 100px;
    border: solid 2px #000;
    border-color: transparent transparent #000 transparent;
    border-radius: 0 0 0 100px;
}

.cooperation .header-image {
    width: 120%;
}

.cooperation .card-img-top{
    background-color: #c4c4c4;
    height: 50px;
}

.cooperation .dash {
    border-bottom: dashed 2px rgb(238 238 238);
}

/*end-cooperation*/

/*start-edit-swap*/
@media screen and (max-width: 992px) {
    .volume-form__input-container-3 input, .volume-form__input-container-3 .disabled-p{
        font-size: 15px !important;
    }
    .volume-form__img-3{
        width: 20px !important;
        height: 20px !important;
    }
    .volume-form__selected-title-3{
        font-size: 12px !important;
        margin: 0 .5rem !important;
    }
    .volume-form__selected-desc-3{
        padding: 1rem .5rem !important;
    }
}
/*end-edit-swap*/
