.text-white {
  color: #fff;
}

.bg-blue {
  background-color: #000;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-t {
  padding-top: 3rem;
}

.text-center {
  text-align: center;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.text-center {
  text-align: center;
}

.position-relative {
  position: relative;
}

.panel-box {
  -webkit-box-shadow: 0 0 20px #0000001e;
          box-shadow: 0 0 20px #0000001e;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  height: 100%;
}

.w-100 {
  width: 100%;
}

.mx-auto {
  margin: 0 auto;
}

.assets-chart__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.assets-chart__title h5{
  line-height: 18px;
  font-weight: 600;
  font-size: 1.1vw;
}

.record-btn {
  border: 2px solid transparent;
  transition: 0.5s ease;
}

.record-btn:hover {
  border: 2px solid #2f31d0;
  background-color: transparent;
  color: #2f31d0 !important;
}

.bg {
    height: 33px !important;

}
