.change-percent-price-minus {
    color: rgba(209, 66, 66, 0.84) !important;
}

.res-currency-details-info__percent-change-red span {
    display: flex;
    align-items: center;
    background-color: #e53131;
    color: #fff;
    padding: 0 15px;
    width: 85px;
    height: 38px;
    font-weight: 600;
    border-radius: 20px;
    justify-content: space-between;
    font-size: 12px;
}

.res-currency-details-info__percent-change-green span {
    display: flex;
    align-items: center;
    background-color: #43e531;
    color: #fff;
    padding: 0 15px;
    width: 85px;
    height: 38px;
    font-weight: 600;
    border-radius: 20px;
    justify-content: space-between;
    font-size: 12px;
}

.currency-details__prices-change-red {
    background-color: #e53131;
    color: #fff;
    padding: 0.7rem 1rem;
    margin: 0 2rem 0 0.5rem;
}

.currency-details__prices-change-green {
    background-color: #43e531;
    color: #fff;
    padding: 0.7rem 1rem;
    margin: 0 2rem 0 0.5rem;
}

.currency-buying-btn a {
    color: #00a8fb;
    background: transparent;
    border: 2px solid #00a6fd;
    margin: 0 auto;
    font-size: 13px;
    width: auto;
    font-weight: 600 !important;
}

.currency-buying-btn a:hover {
    color: #ffffff;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#00a6fd),
        to(#00d0df)
    )
    #00d1de;
    background: -o-linear-gradient(left, #00a6fd, #00d0df) #00d1de;
    background: linear-gradient(to right, #00a6fd, #00d0df) #00d1de;
    border: 2px solid #00a6fd !important;
}
