// Core variables and mixins
@import "../../bootstrap/functions";
@import "../../bootstrap/mixins";

// Core variables and mixins overrides
@import "../../core/variables/variables";
@import "../../bootstrap/variables";

// Overrides user-old variable
@import "../../core/variables/components-variables";

.app-content .wizard {
	width: 100%;
	// overflow: hidden;

	.content{
		margin-left: 0 !important;
	}

	>.steps {
		.current-info {
			position: absolute;
			left: -99999px;
		}
		position: relative;
		display: block;
		width: 100%;
		>ul {
			display: table;
			width: 100%;
			table-layout: fixed;
			margin: 0;
			padding: 0;
			list-style: none;
			>li {
				display: table-cell;
				width: auto;
				vertical-align: top;
				text-align: center;
				position: relative;
				a {
					position: relative;
					padding-top: 52px;
					margin-top: 20px;
					margin-bottom: 20px;
					display: block;
				}
				&:before {
					content: '';
					display: block;
					position: absolute;
					z-index: 9;
					left: 0;
				}
				&:after {
					content: '';
					display: block;
					position: absolute;
					z-index: 9;
					right: 0;
				}
				&:last-child {
					&:after {
						content: none;
					}
				}
			}
			>li.current {
				>a {
					color: $primary;
					cursor: default;
				}
				.step {
					border-color: $primary;
					background-color: $primary;
					color: $white;
				}
			}
			>li.disabled {
				a {
					color: $gray-400;
					cursor: default;
					&:hover {
						color: $gray-400;
						cursor: default;
					}
					&:focus {
						color: $gray-400;
						cursor: default;
					}
				}
				.step{
					color: $gray-600;
				}
			}
			>li.done {
				a {
					color: $gray-400;
					&:hover {
						color: $gray-400;
					}
					&:focus {
						color: $gray-400;
					}
				}
				.step {
					background-color: $white;
					border-color: $primary;
					color: $gray-600;
				}
				&:last-child{
					.step{
						background-color: $primary;
						border-color: $primary;
						color: $white;
					}
				}
			}
			>li.error {
				> a{
					color: $danger;
				}
				.step {
					border-color: $danger;
					color: $white;
					background-color: $danger;
				}
			}
		}
		.step {
			background-color: #fff;
			display: inline-block;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -24px;
			z-index: 10;
			text-align: center;
			i{
				position: relative;
				top: 2px;
			}
		}
	}

	>.content {
		>.title {
			position: absolute;
			left: -99999px;
		}
		// overflow: hidden;
		position: relative;
		width: auto;
		padding: 0;
		margin: 0;
		>.body {
			padding: 0 20px;
		}
		>iframe {
			border: 0 none;
			width: 100%;
			height: 100%;
		}
	}
	>.actions {
		position: relative;
		display: block;
		text-align: right;
		padding: 20px;
		padding-top: 0;
		>ul {
			// float: right;
			list-style: none;
			padding: 0;
			margin: 0;
			&:after {
				content: '';
				display: table;
				clear: both;
			}
			>li {
				float: left;
				+ {
					li {
						margin-left: 10px;
						float: right;
					}
				}
				>a {
					background: $primary;
					color: #fff;
					display: block;
					padding: 7px 12px;
					border-radius: $btn-border-radius;
					border: 1px solid transparent;
					&:hover {
						-webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
						box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
					}
					&:focus {
						-webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
						box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
					}
					&:active {
						-webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
						box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
					}
				}
				>a[href="#previous"] {
					background-color: $primary;
					color: $white;
					border-radius: $btn-border-radius;
					&:hover {
						-webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.02) inset;
						box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.02) inset;
					}
					&:focus {
						-webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.02) inset;
						box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.02) inset;
					}
					&:active {
						-webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.04) inset;
						box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.04) inset;
					}
				}
			}
			>li.disabled {
				>a {
					color: $white;
					&:hover {
						color: $white;
					}
					&:focus {
						color: $white;
					}
				}
				>a[href="#previous"] {
					-webkit-box-shadow: none;
					box-shadow: none;
					&:hover {
						-webkit-box-shadow: none;
						box-shadow: none;
					}
					&:focus {
						-webkit-box-shadow: none;
						box-shadow: none;
					}
				}
			}
		}
	}

	&.wizard-circle{
		>.steps {
			>ul{
				>li{
					&:before, &:after{
						top: 43px;
						width: 50%;
						height: 3px;
						background-color: $primary;
					}
				}
				>li.current{
					&:after {
						background-color: transparent; //darken($body-bg, 5%);
					}
					~ {
						li {
							&:before {
								background-color: transparent;
							}
							&:after {
								background-color: transparent;
							}
						}
					}
				}
			}
			.step{
				width: 50px;
				height: 50px;
				line-height: 3rem;
				border: 3px solid $gray-600;
				font-size: 1.5rem;
				font-weight: $headings-font-weight;
				border-radius: 50%;
			}
		}
	}
}
@media (max-width: 768px) {
	.app-content .wizard {
		>.steps {
			>ul {
				margin-bottom: 20px;
				>li {
					display: block;
					float: left;
					width: 33%;
					>a {
						margin-bottom: 0;
					}
					&:last-child {
						&:after {
							content: '';
							background-color: $primary;
						}
					}
				}
			}
		}

	}
}
@media (max-width: 480px) {
	.app-content .wizard {
		>.steps {
			>ul {
				>li.current {
					&:after {
						background-color: $primary;
					}
				}
			}
		}
	}
}
