@font-face {
  font-family: 'yekan';
  src        : url('../font/yekan/YekanBakhFaNum-Bold.eot');
  src        : url('../font/yekan/YekanBakhFaNum-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/yekan/YekanBakhFaNum-Bold.woff2') format('woff2'),
    url('../font/yekan/YekanBakhFaNum-Bold.woff') format('woff');
  font-weight : bold;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'yekan';
  src        : url('../font/yekan/YekanBakhFaNum-Medium.eot');
  src        : url('../font/yekan/YekanBakhFaNum-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/yekan/YekanBakhFaNum-Medium.woff2') format('woff2'),
    url('../font/yekan/YekanBakhFaNum-Medium.woff') format('woff');
  font-weight : 500;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: 'yekan';
  src        : url('../font/yekan/YekanBakhFaNum-Light.eot');
  src        : url('../font/yekan/YekanBakhFaNum-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/yekan/YekanBakhFaNum-Light.woff2') format('woff2'),
    url('../font/yekan/YekanBakhFaNum-Light.woff') format('woff');
  font-weight : normal;
  font-style  : normal;
  font-display: swap;
}

#baguetteBox-overlay {
  direction: rtl;
}

html {
  width: 100%;
}

body {
  overflow-x: hidden !important;
}

body.show-spinner>main {
  overflow: hidden !important;
}

/* Hide everything under body tag */
body.show-spinner>* {
  opacity: 0;
}

/* Spinner */
body.show-spinner::after {
  content          : " ";
  display          : inline-block;
  width            : 30px;
  height           : 30px;
  border           : 2px solid rgba(0, 0, 0, 0.2);
  border-radius    : 50%;
  border-top-color : rgba(0, 0, 0, 0.3);
  animation        : spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left             : calc(50% - 15px);
  top              : calc(50% - 15px);
  position         : fixed;
  z-index          : 1;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
