/*.panel-white {*/
/*    border-color : #FFFFFF;*/
/*}*/
/*.panel-white .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #FFFFFF;*/
/*    background-color : white;*/
/*}*/

/*.panel-black {*/
/*    border-color : #000000;*/
/*}*/
/*.panel-black .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #000000;*/
/*    background-color : #0D0D0D;*/
/*}*/

/*.panel-secondary {*/
/*    border-color : #868E96;*/
/*}*/
/*.panel-secondary .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #868E96;*/
/*    background-color : #949BA2;*/
/*}*/

/*.panel-primary {*/
/*    border-color : #666EE8;*/
/*}*/
/*.panel-primary .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #666EE8;*/
/*    background-color : #7C83EB;*/
/*}*/

/*.panel-success {*/
/*    border-color : #28D094;*/
/*}*/
/*.panel-success .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #28D094;*/
/*    background-color : #39D9A0;*/
/*}*/

/*.panel-info {*/
/*    border-color : #1E9FF2;*/
/*}*/
/*.panel-info .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #1E9FF2;*/
/*    background-color : #36A9F3;*/
/*}*/


/*.panel-warning {*/
/*    border-color : #FF9149;*/
/*}*/
/*.panel-warning .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #FF9149;*/
/*    background-color : #FFA063;*/
/*}*/


/*.panel-danger {*/
/*    border-color : #FF4961;*/
/*}*/
/*.panel-danger .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #FF4961;*/
/*    background-color : #FF6377;*/
/*}*/


/*.panel-red {*/
/*    border-color : #F44336;*/
/*}*/
/*.panel-red .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #F44336;*/
/*    background-color : #F55A4E;*/
/*}*/

/*.panel-pink {*/
/*    border-color : #E91E63;*/
/*}*/
/*.panel-pink .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #E91E63;*/
/*    background-color : #EB3573;*/
/*}*/

/*.panel-purple {*/
/*    border-color : #9C27B0;*/
/*}*/
/*.panel-purple .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #9C27B0;*/
/*    background-color : #AF2CC5;*/
/*}*/


/*.panel-deep-purple {*/
/*    border-color : #673AB7;*/
/*}*/
/*.panel-deep-purple .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #673AB7;*/
/*    background-color : #7446C4;*/
/*}*/

/*.panel-indigo {*/
/*    border-color : #3F51B5;*/
/*}*/
/*.panel-indigo .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #3F51B5;*/
/*    background-color : #4D5EC1;*/
/*}*/

/*.panel-blue {*/
/*    border-color : #2196F3;*/
/*}*/
/*.panel-blue .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #2196F3;*/
/*    background-color : #39A1F4;*/
/*}*/


/*.panel-light-blue {*/
/*    border-color : #03A9F4;*/
/*}*/
/*.panel-light-blue .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #03A9F4;*/
/*    background-color : #14B4FC;*/
/*}*/


/*.panel-cyan {*/
/*    border-color : #00BCD4;*/
/*}*/
/*.panel-cyan .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #00BCD4;*/
/*    background-color : #00D3EE;*/
/*}*/

/*.panel-teal {*/
/*    border-color : #009688;*/
/*}*/
/*.panel-teal .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #009688;*/
/*    background-color : #00B09F;*/
/*}*/

/*.panel-teal {*/
/*    border-color : #009688;*/
/*}*/
/*.panel-teal .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #009688;*/
/*    background-color : #00B09F;*/
/*}*/


/*.panel-green {*/
/*    border-color : #4CAF50;*/
/*}*/
/*.panel-green .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #4CAF50;*/
/*    background-color : #5CB860;*/
/*}*/


/*.panel-light-green {*/
/*    border-color : #8BC34A;*/
/*}*/
/*.panel-light-green .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #8BC34A;*/
/*    background-color : #97C95D;*/
/*}*/

/*.panel-lime {*/
/*    border-color : #CDDC39;*/
/*}*/
/*.panel-lime .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #CDDC39;*/
/*    background-color : #D2E04F;*/
/*}*/


/*.panel-yellow {*/
/*    border-color : #FFEB3B;*/
/*}*/
/*.panel-yellow .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #FFEB3B;*/
/*    background-color : #FFEE55;*/
/*}*/


/*.panel-orange {*/
/*    border-color : #FF9800;*/
/*}*/
/*.panel-orange .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #FF9800;*/
/*    background-color : #FFA21A;*/
/*}*/


/*.panel-deep-orange {*/
/*    border-color : #FF5722;*/
/*}*/
/*.panel-deep-orange .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #FF5722;*/
/*    background-color : #FF6A3C;*/
/*}*/


/*.panel-brown {*/
/*    border-color : #795548;*/
/*}*/
/*.panel-brown .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #795548;*/
/*    background-color : #896052;*/
/*}*/

/*.panel-grey {*/
/*    border-color : #9E9E9E;*/
/*}*/
/*.panel-grey .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #9E9E9E;*/
/*    background-color : #ABABAB;*/
/*}*/

/*.panel-blue-grey {*/
/*    border-color : #607D8B;*/
/*}*/
/*.panel-blue-grey .panel-heading {*/
/*    color : #FFFFFF;*/
/*    border-color : #607D8B;*/
/*    background-color : #6B8A99;*/
/*}*/

/*.panel-title{*/
/*    padding: 9px 2px 3px 0px;*/
/*}*/

.datepicker-plot-area *{
    text-align: center;
}
.card .custom-card-header {
    padding: 15px 23px;
    border-bottom: solid 1px #e3e3e3;
}
.show-pass-icon {
    position: absolute;
    left: 5px;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 123;
}
input[type='password'] {
    padding-left: 25px;
}
