// ================================================================================================
//  File Name: invoice.scss
//  Description: Invoice Layout page layouts SCSS.
//  ----------------------------------------------------------------------------------------------
//  Item Name: Vuesax HTML Admin Template
//  Version: 1.0
//  Author: PIXINVENT
//  Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

// Core variables and mixins
@import "../bootstrap/functions";
@import "../bootstrap/mixins";
@import "../bootstrap-extended/mixins";

// Load variable overrides
@import "../core/variables/variables";
@import "../bootstrap/variables";

// Overrides user-old variable
@import "../core/variables/components-variables";

.invoice-page{
    padding: 2.2rem;

    .recipient-contact, .company-contact{
        i{
            padding-right: 0.2rem;
            position: relative;
            top: 2px;
        }
    }
  .recipient-info, .company-info, .company-contact, .recipient-contact{
    p{
      line-height: 2;
      margin-bottom: 0;
    }
  }

    .invoice-items-table, .invoice-total-table{
        table{
            border: 2px solid $body-bg;
        }
    }
}
