@import url(font.css);

:root {
  --light: #f8f8fa;
  --royalBlue: #6563ff;
  --black: #000000;
  --dark: #4a4a4a;
  --lightGreen: #54e9c3;
  --lightRed: #f66b64;
  --gray: #666666;
  --orange: #ff9800;
  --purple: #de34be;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "IranSansX", sans-serif !important;
  direction: rtl;
  overflow: hidden;
}

a {
  text-decoration: none;
}

input {
  font-family: inherit;
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
}

.text-white {
  color: #fff;
}

.bg-blue {
  background-color: #000;
}

.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.p-t {
  padding-top: 3rem;
}

.text-center {
  text-align: center;
}

.justify-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.items-end {
  align-items: flex-end;
}

.text-center {
  text-align: center;
}

.position-relative {
  position: relative;
}

/* ======== Cart ======== */
.cart-currency {
  box-shadow: 0 0 20px #0000001e;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  max-width: 308px;
}

.cart-currency__about-price p {
  color: #000000;
  font-size: 13px;
  font-weight: 600;
}

.cart-currency__about-price span {
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  display: block;
}

.cart-currency__about-price span.plus {
  color: var(--lightGreen);
}

.cart-currency__abbreviation {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.cart-currency__name {
  color: #949494;
  font-weight: 400;
  font-size: 13px;
}

.cart-currency__img {
  width: 25px;
  margin-right: 0.5rem;
}

.cart-currency__chart svg {
  width: 100%;
  height: 108px;
}

/* ======= Search Box && Input ========= */

.form__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0.5rem 0;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid #f8f8fa;
  width: 25%;
  background-color: #f8f8fa;
  padding: 0 1rem;
  transition: 0.5s ease;
  border-radius: 5px;
}

.search-box {
  border-radius: 25px;
}

/* ======= Charts ========= */

.doughnut-chart {
  width: 270px;
  margin: 0 auto;
  position: relative;
}

.doughnut-chart::after {
  content: "میزان تغییرات کلی";
  position: absolute;
  left: 50%;
  top: 130px;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 17px;
  color: #666666;
}

.doughnut-chart {
  width: 270px;
}

.doughnut-chart-2::after {
  content: "4,45%";
  color: #232323;
  font-size: 50px;
}

/* ============ radio Btn ============ */

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  color: #777777;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 100px;
  transition: 0.5s ease;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  transition: 0.5s ease;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid #707070;
  border-radius: 50%;
  transition: 0.5s ease;
}

.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
  background-color: #54e9c3;
  border: none;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* ======= Btns ======= */

.btn {
  border-radius: 4px;
  height: 45px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-btn {
  max-width: 230px;
  font-size: 18px;
}

.record-btn {
  background-color: #2f31d0;
}

.authentication-btn {
  background-color: var(--lightRed);
}

.wallet-btn {
  max-width: 120px;
  font-size: 16px;
}

.harvest-btn {
  background-color: var(--lightRed);
}

.deposit-btn {
  background-color: var(--lightGreen);
}

/* ========== Selected Currency =========== */

.volume-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  color: #232323;
  background-color: #d7d7d7;
  border-radius: 10px;
  transition: 0.5s ease;
}

.volume-form__input-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  border-top-left-radius: 10px;
}

.line {
  height: 30px;
  width: 1px;
  background-color: #8a8a8a;
  margin-right: 1rem;
}

.volume-form__input-container label {
  width: 110px;
  font-size: 16px;
  display: block;
}

.volume-form__input-container input {
  background-color: transparent;
  width: 100%;
  padding: 1rem 1rem 1rem 0;
  color: #232323;
  font-size: 22px;
}

.volume-form__selected-desc {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.volume-form__selected-title {
  margin: 0 1rem;
  font-size: 18px;
  color: #232323;
}

.volume-form__img {
  width: 35px;
  height: 35px;
}

.volume-form__selected {
  position: relative;
}

.volume-form__selected.active .volume-form__menu {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.volume-form__menu {
  position: absolute;
  background-color: #d7d7d7;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.5s ease;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);
}

.volume-form__item {
  list-style: none;
}

.volume-form__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

/* ======== Cart 2 ======== */

.cart-currency-2 .cart-currency__abbreviation {
  font-size: 27px;
  font-weight: 400;
}

.cart-currency-2 .cart-currency__name {
  font-size: 23px;
}

.cart-currency-2 .cart-currency__about-price p {
  font-size: 20px;
}

.cart-currency-2 .cart-currency__about-price span {
  font-size: 18px;
}

.cart-currency-2 .cart-currency__img {
  width: 43px;
  margin-right: 1rem;
}
